.App {
  font-family: sans-serif;
  /* text-align: center; */

  /* background-color: ; */
  /* justify-content: center; */
  /* align-self: center; */
  width: '100%';
}

h6 {
  /* position: absolute; */
  color: rgb(80, 150, 255);
  left: 80px;
}
.form {
  min-height: 180px;
}
.child {
  position: relative;
  margin-top: 40px;
}
h1,h4,h5,input,p,span{
  font-family: 'inter';
}